<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="shortcut icon" href="/img/img-youtube-cv.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/preloader.css">
  <link rel="stylesheet" id="dark-theme">
  <link rel="stylesheet" href="/css/dropdown.css">
  <!-- <link href="/css/pace/themes/blue/pace-theme-flat-top.css" rel="stylesheet" /> -->
  <link href="/libs/pace/themes/blue/pace-theme-flash.css" rel="stylesheet" />
  <script src="/libs/pace/pace.js"></script>
  <!-- FONTAWESOME ICONS -->
  <script
  src="https://kit.fontawesome.com/9ac3f17ed5.js"
  crossorigin="anonymous"
  ></script>
</head>
<body>
  <script>
  paceOptions = {
    catchupTime: 100,
    initialRate: .03,
    minTime: 250,
    ghostTime: 100,
    maxProgressPerFrame: 20,
    easeFactor: 1.25,
    startOnPageLoad: true,
    restartOnPushState: true,
    restartOnRequestAfter: 500,
    target: 'body',
    elements: {
      checkInterval: 100,
      selectors: ['body']
    },
    eventLag: {
      minSamples: 10,
      sampleCount: 3,
      lagThreshold: 3
    },
    ajax: {
      trackMethods: ['GET'],
      trackWebSockets: true,
      ignoreURLs: []
    }
  }
  Pace.start();
  </script>

<script>
  if(localStorage.theme == 'dark') {
    // let darkTheme = document.querySelector('#dark-theme');
    // let btn__theme = document.querySelector('.content__theme');
    let head = document.querySelector('head');
    // darkTheme.href = '/css/theme-dark.css';
    head.innerHTML += `<style id="theme-dark">
  body {
    background-color: #181818;
    color: whitesmoke;
  }

  .navbar,
  .container__sidebar {
    background-color: #202020;
  }

  .logo__youtubecv #youtube-paths path {
    fill: whitesmoke;
  }

  .search__video input {
    background-color: #121212;
    color: whitesmoke;
    border-bottom: 1px solid whitesmoke;
  }

  .search__video input::placeholder {
    color: #acacac;
  }

  .theme__app {
    background-color: #181818;
  }

  .date__time,
  .time__view,
  .views__view,
  .statistics__view {
    color: #8f8f8f !important;
  }

  .logo__youtubecv:hover {
    background-color: #353535;
  }

  .card__video:hover {
    background-color: #313131;
  }

  .author__video {
    color: #dbdbdb;
  }

  .pace .pace-progress {
    background: #2299dd !important;
  }

  .link__view {
    color: #3ea6ff;
  }

  .info__primary__view {
    border-bottom: 1px solid rgba(255, 255, 255, 0.144);
  }

  .card__view__video .description__view {
    color: #dedede;
  }

  .view__details__description {
    background-color: #181818;
  }

  .more__details {
    color: #8f8f8f;
  }

  .more__details:hover {
    background-color: #3f3e3e;
    color: #ebe9e9;
  }

  .menu__bars {
    fill: #e3e4e6;
  }

  .menu__bars:hover {
    background-color: rgb(68, 67, 67);
  }

  .options__menu .item__menu {
    color: #bbb9b9;
  }

  .options__menu i {
    color: #b8b8b8;
  }

  .options__menu .item__menu:hover {
    background-color: rgb(63, 63, 63);
  }

  .dropdown-content {
    background-color: rgb(39, 38, 38);
  }

  .btn__clean {
    color: #e2e2e2;
  }

  .drop__list__history {
    background-color: rgb(56, 56, 56);
  }

  .item__list__text {
    padding: 5px 10px;
    color: #dadada;
    cursor: pointer;
  }

  .item__list__text:hover {
    background-color: rgb(75, 75, 75);
  }
  </style>`;
  }
</script>
  <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
  <%- include('partials/navigation') %>

  <!-- <center>
    <div class="preview__video">
      <h3>Previsualización de Video</h3>
      <iframe src="https://www.youtube.com/embed/asf?autoplay=1" id="player" allow='autoplay'></iframe>
    </div>
</center> -->
  <div class="theme__app d-none">
    <div class="content__theme wave">
      Modo Oscuro &nbsp; <i class="far fa-moon"></i>
    </div>
  </div>
  
  <%- include('partials/sidebar') %>

  <script>
    if(localStorage.theme == 'dark') {
      // let darkTheme = document.querySelector('#dark-theme');
      // let btn__theme = document.querySelector('.content__theme');
      let selected__theme__dark = document.querySelector('.check__select__dark');
      selected__theme__dark.classList.remove('d-none');
    } else {
      let selected__theme__light = document.querySelector('.check__select__light');
      selected__theme__light.classList.remove('d-none');
    }
  </script>

  <% if(allVideos) { %>
    <%- include('partials/videos') %>
  <% } else { %>
    <%- include('partials/video') %>
  <% } %>
  <button class="btn__up__scroll d-none"><i class="fas fa-angle-up"></i></button>
  <div class="drop__list__history">
  </div>
  <script>
    // 2. This code loads the IFrame Player API code asynchronously.
    // var tag = document.createElement('script');

    // tag.src = "https://www.youtube.com/iframe_api";
    // var firstScriptTag = document.getElementsByTagName('script')[0];
    // firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    // // 3. This function creates an <iframe> (and YouTube player)
    // //    after the API code downloads.
    // var player;
    // function onYouTubeIframeAPIReady() {
    //   player = new YT.Player('player', {
    //     height: '390',
    //     width: '640',
    //     videoId: 'M7lc1UVf-VE',
    //     events: {
    //       'onReady': onPlayerReady,
    //       'onStateChange': onPlayerStateChange
    //     }
    //   });
    // }

    // // 4. The API will call this function when the video player is ready.
    // function onPlayerReady(event) {
    //   event.target.playVideo();
    // }

    // // 5. The API calls this function when the player's state changes.
    // //    The function indicates that when playing a video (state=1),
    // //    the player should play for six seconds and then stop.
    // var done = false;
    // function onPlayerStateChange(event) {
    //   if (event.data == YT.PlayerState.PLAYING && !done) {
    //     setTimeout(stopVideo, 6000);
    //     done = true;
    //   }
    // }
    // function stopVideo() {
    //   player.stopVideo();
    // }
  </script>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.full.min.js"></script>
  <!-- BLAZY IMAGENES -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/blazy/1.8.2/blazy.min.js" integrity="sha512-Yrd3VqXNBUzyCQWVBlL65mTdE1snypc9E3XnGJba0zJmxweyJAqDNp6XSARxxAO6hWdwMpKQOIGE5uvGdG0+Yw==" crossorigin="anonymous"></script>
  <script src="https://rawgithub.com/dinbror/blazy/master/blazy.min.js"></script>
  
  <script src="/js/main.js"></script>
  
</body>
</html>